.r-grid {
    letter-spacing: -0.31em;
    list-style:none; 
    margin:0;
    padding:0;
}

.r-unit {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display:inline-block;
    letter-spacing: normal;
    text-align: left;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
}

.r-unit-full {
    width: 100%;
}

.r-container {
    margin: 0 auto;
    max-width: $grid-width;
}

html {
    font-size: $grid-font-size;
    line-height: $grid-baseline;
}