@mixin unit {
  @extend %r-unit;
}

@mixin unit-width($ratio) {
  width: percentage($ratio);
}

@mixin gutter($n) {
  padding-left: $n * $grid-gutter;
  padding-right: $n * $grid-gutter;
}

@mixin hide-at($columns) {
  @include breakpoint($columns) {
    display: none;
  }
}

@mixin show-at($columns) {
  display: none;
  @include breakpoint($columns) {
    display: block;
  }
}