$grid-width: 960px;
$grid-font-size: 16px;
$grid-baseline: 22px;
$grid-columns: 12;
$grid-gutter: 20px;
$grid-unit: 10px;
$grid-spacing: 10px 20px 40px;
$grid-breakpoints: 4 6 8 10 12;
$grid-fallback: 12;

$has-media-queries: true;
$media-query-fallback: '.li-ie9';