@import "lib/settings";
@import "lib/classes/visibility";
@import "lib/mixins/breakpoint";

@mixin rg-ResponsiveGrid($fixed: false) {

  /**
   * Container for the grid
   */
  .rg-Page {
    @if $fixed == false {
      max-width: $rg-width / $rg-font-size + em;      
    }
    @else {
      width: $rg-width;
    }
  }

  .rg-Page--center {
    margin: 0 auto;
  }

  /**
   * Grid Unit Container
   */
  .rg-Grid {
    letter-spacing: -0.31em;
    margin:0;
    padding:0;
  }

  .rg-Grid--center {
    text-align: center;
  }

  /**
   * Represents a single column
   */
  .rg-Unit {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    letter-spacing: normal;
    text-align: left;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
    width: 100%;
  }

  .rg-Unit--center {
    margin: 0 auto;
    display: block;
  }

  /**
   * Base settings. The column widths
   * will be based in the font-size using rems
   */
  html {
    font-size: $rg-font-size;
  }

  @include -rg-Breakpoints($rg-breakpoints);
}

/**
 * Loop through each breakpoint and build
 * classes for each using the breakpoint mixins
 * First breakpoint is no media query — mobile-first.
 * 
 * @param {List} $breakpoints List of column breakpoints
 * @param {Boolean} $spacing Include spacing classes? 
 * @param {Boolean} $visibility Include visibilty classes? 
 * @param {Boolean} $layout Include layout classes? 
 * @api private
 */
@mixin -rg-Breakpoints($breakpoints, $spacing: true, $visibility: true, $layout: true) {
  @each $columns in $breakpoints {
    @if index($breakpoints, $columns) == 1 {
      @include -rg-BreakpointClasses($columns, $spacing, $visibility, $layout);
    }
    @else {
      @include rg-from($columns) {
        @include -rg-BreakpointClasses($columns, $spacing, $visibility, $layout);
      }
    }
  }
}

/**
 * Build all the class types for a breakpoint
 * 
 * @param {Mixed} $columns Number of columns
 * @param {Boolean} $spacing Include spacing classes? 
 * @param {Boolean} $visibility Include visibilty classes? 
 * @param {Boolean} $layout Include layout classes? 
 * @api private
 */
@mixin -rg-BreakpointClasses($columns, $spacing, $visibility, $layout) {
  @if $visibility != false {
    @include rg-VisibilityClasses($columns, $rg-breakpoints);
  }
  @if $layout != false {
    @include fz-FractionalWidths($columns, $prefix: 'rg-');
  }
  @if $spacing != false {
    @include fz-SpacingClasses($rg-spacing, $prefix: 'rg-', $suffix: "at#{$columns}"); 
  }
}